body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
a{
    margin-left:7.5px;
}
h1 {
    text-align: center;
    color: #333;
}

.file-list {
    list-style-type: none;
    padding: 0;
}

.file-list li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.file-list li .icon {
    margin-right: 10px;
}

.file-list li .file-name {
    flex: 1;
}

.file-list li .file-size {
    color: #999;
}
